@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

/* ----- Constant Variables ----- */
:root {
    --CBase: #414042;
    --CBox: #4d4d4d;
    --CBoxHover: #606060;
    --CBoxClick: #353535;
    --CBaseClick: #303030;
    --CBaseLight4: #d1d3d4;
    --CBaseLight3: #a7a9ac;
    --CBaseLight2: rgba(147, 149, 152, 1);
    --CBaseLight1: #6d6e71;
    --CBaseDark: #2a2a2a;
    --CBaseDarker: #8b5e3c;
    --CBaseDarkest: rgba(96, 57, 19, 1);
    --CWhite: #e6e7e83;
    --CBlack: #808285;
    --CRed: rgba(232, 80, 105, 1);
    --COrange: rgba(248, 157, 116, 1);
    --CYellow: #fac779;
    --CGreen: #a2d17d;
    --CTurquoise: rgba(122, 202, 181, 1);
    --CBlue: #61bbd5;
    --CMarine: rgba(133, 157, 209, 1);
    --CPurple: rgba(173, 137, 191, 1);
    --CPink: #f48d9c;
    --CMapBG: #6b8bbc;
    --CButton: rgba(161, 90, 48, 1);
    --CBackground: rgba(31, 31, 31, 1);
}


/* ----- Page Parameters ----- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Share Tech', sans-serif;
    background: var(--CBaseDark);
}


/* ----- Map Parameters ----- */
#map {
    z-index: 1;
    width: inherit;
    max-width: inherit;
    background: var(--CMapBG);
    height: 100%;
    position: absolute;
}


.sidebar {
    z-index: 10;
    background-color: var(--CBase);
    position: absolute;
    width: 70px;
    height: 100%; 
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 0px 75px repeat(14, 50px);
    grid-gap: 10px;
    box-shadow: rgba(18, 18, 18, 0.8) 0px 0px 10px 0px;
    
    .tabButton {
        z-index: 11;
        transform: translateX(10px);
        background-color: var(--CBox);
        border: none;
        border-radius: 5px;

        &:hover {
            background-color: var(--CBoxHover);
        }
    }

    .tabButton.active{
        background-color: var(--CBoxClick);
    }

    .logo{
        z-index: 11;
        transform: translateX(10px);
    }
}

.tab {
    z-index: 1;
    background-color: rgba(40, 40, 40, 0.9);
    position: absolute;
    width: 200px;
    height: 100%;
    margin-left: 70px;
    transform: translateX(-200px);
    transition: 0.25s ease-in-out;
    display: none;
    grid-template-columns: repeat(16, 10px);
    grid-template-rows: repeat(auto-fill, 10px);
    grid-gap: 10px;

    & label {
        text-align: center;
        color: var(--CBaseLight4);
        font-size: 30px;
        transform: translateX(20px);
        font-weight: 500;
    }

}

