
/* ----- Constant Variables ----- */
:root {
    --CBase: #414042;
    --CBox: #4d4d4d;
    --CBoxHover: #555555;
    --CBoxClick: #383838;
    --CBaseClick: #303030;
    --CBaseLight4: #d1d3d4;
    --CBaseLight3: #a7a9ac;
    --CBaseLight2: rgba(147, 149, 152, 1);
    --CBaseLight1: #6d6e71;
    --CBaseDark: #2a2a2a;
    --CBaseDarker: #8b5e3c;
    --CBaseDarkest: rgba(96, 57, 19, 1);
    --CWhite: #e6e7e83;
    --CBlack: #808285;
    --CRed: rgba(232, 80, 105, 1);
    --COrange: rgba(248, 157, 116, 1);
    --CYellow: #fac779;
    --CGreen: #a2d17d;
    --CTurquoise: rgba(122, 202, 181, 1);
    --CBlue: #61bbd5;
    --CMarine: rgba(133, 157, 209, 1);
    --CPurple: rgba(173, 137, 191, 1);
    --CPink: #f48d9c;
    --CMapBG: #6b8bbc;
    --CButton: rgba(161, 90, 48, 1);
    --CBackground: rgba(31, 31, 31, 1);
}
@font-face {
    font-family: 'Share Tech';
    src: url('https://fonts.google.com/specimen/Share+Tech?query=tech&category=Serif,Sans+Serif,Display,Monospace') format('woff2');
}


/* ----- Page Parameters ----- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Share_Tech';
    background: var(--CBaseDark);
}


/* ----- Map Parameters ----- */
#map {
    z-index: 1;
    width: inherit;
    max-width: inherit;
    background: var(--CMapBG);
    height: 100%;
    position: absolute;
}

.sidebar {
    z-index: 10;
    background-color: var(--CBase);
    position: absolute;
    width: 70px;
    height: 100%;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 0px 75px repeat(14, 50px);
    grid-gap: 10px;
}
    .sidebar:hover ~ sidebarDrop {
        transform: translateX(0px);
    }
    .sidebar .sidebar-button {
        z-index: 11;
        transform: translateX(10px);
        border-radius: 5px;
        background-color: var(--CBox);
        border: none;
    }
        .sidebar .sidebar-button:hover {
            background-color: var(--CBoxHover);
        }
        .sidebar .sidebar-button:active {
            background-color: var(--CBoxClick);
        }

        .sidebar .sidebar-button img {
        }

.sidebar-logo {
    z-index: 11;
    transform: translateX(10px);
}

.sidebarDrop {
    z-index: 1;
    background-color: rgba(40, 40, 40, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    width: 200px;
    height: 100%;
    margin-left: 70px;
    transform: translateX(-200px);
    transition: 0.25s ease-in-out;
    display: none;
}