@import url("https://fonts.googleapis.com/css?family=Share+Tech&display=swap");

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}

/* INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar {
  z-index: 10;
  background-color: #414042;
  position: absolute;
  width: 2.5%;
  min-width: 30px;
  height: 100%;
  box-shadow: rgba(18, 18, 18, 0.8) 0px 0px 10px 0px;
  overflow-y: scroll;
  user-select: none;

  .sidebar-grid {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: inherit;
    height: 100%;
    flex-grow: 1;
    width: 100%;

    .sidebar-button {
      z-index: 11;
      background-color: #414042;
      border: none;
      cursor: pointer;
      outline: none;
      width: 100%;
      height: 0;
      padding-top: 50%;
      padding-bottom: 50%;

      &:hover {
        background-color: #606060;
      }
  
      & img {
        position: absolute;
        align-self: center;
        width: 42%;
        margin: -21% -21%;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      &.active {
        background-color: #353535;
      }
    }
  
    & img {
      position: absolute;
      width: 100%;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}


.tabs {
  z-index: 1;
  background-color: rgba(36, 36, 36, 0.95);
  position: absolute;
  width: 15%;
  min-width: 180px;
  max-width: 15%;
  height: 100%;
  margin-left: max(2.5%, 30px);
  transform: translateX(-100%);
  transition: 0.25s ease-in-out;
  display: none;
  font-family: "Share Tech", sans-serif;
  user-select: none;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.visibility-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 7%;
  padding-bottom: 7%;
  transition: max-height 0.25s ease-out;
  overflow: visible;
  display: block;
  margin-bottom: 10%;

  .visibility-button {
    background-color: #333333;
    float: right;
    width: 50%;
    margin-top: -10%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border:none;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    filter: brightness(70%);
      
    &:has(input[type="checkbox"]:checked){
      filter: brightness(100%);

      &:has(input[type="checkbox"]:hover){
        filter: brightness(125%);
      }
      
    }

    & input[type="checkbox"]{
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      position: absolute;
      margin-left: 0;
    }

    & label {
      color: #d1d3d4;
      font-size: 20px;
      cursor: pointer;
      margin-top: 7%;
      text-transform: uppercase;
    }
  }
}

.custom-layer-group {
  position: relative;
  margin: 5%;
  width: 90%;
  max-height: 30px;
  transition: max-height 0.25s ease-out;
  background: none;
  overflow: hidden;
  display: block;
  margin-bottom: 30px;

  &:has(.arrow-container input[type="checkbox"]:checked){
    max-height: 2000px;
    transition: max-height 0.5s ease-in;
  }

  .group-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30px auto;
    
    .visibility-box {
      width: 100%;
      height: 100%;
      background: none;
      overflow: hidden;
      border-radius: 10px;
      float: right;
      filter: brightness(50%);
      
      &:has(input[type="checkbox"]:checked){
        filter: brightness(100%);

        &:has(input[type="checkbox"]:hover){
          filter: brightness(150%);
        }
        
      }


      & input[type="checkbox"]{
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        position: absolute;
        margin-left: 0;
      }

      & label {
        position: absolute;
        color: #d1d3d4;
        margin-top: 4px;
        font-size: 20px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }

    .arrow-container {
      width: 30px;
      height: 30px;
      margin: 0px 0px 10px 0px; 
      float: left;
      transition: rotate ease-in-out 0.15s, margin ease-in-out 0.15s;
      overflow: hidden;
      
      &:has(input[type="checkbox"]:checked){
        rotate: 90deg;
        margin: -1px 0px 10px 0px; 
      }

      & input[type="checkbox"]{
        z-index: 10;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 30px;
        height: 40px;
        margin: -5px; 
        cursor: pointer;
        outline: none;
      }

      .arrow {
        z-index: 9;
        border: solid #d1d3d4;
        filter: brightness(50%);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        rotate: -45deg;
        pointer-events: none;
        margin: 10px 10px;
        cursor: pointer;
      }
    } 
  }

  .layer-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -10px;


    .layer-container {
      position: relative;
      width: 110px;
      height: 20px;
      filter: brightness(50%);
      margin: 2.5%;
      overflow: hidden;
  
      &:has(input[type="checkbox"]:checked){
        filter: brightness(100%);

        &:has(input[type="checkbox"]:hover){
          filter: brightness(150%);
        }
      }
  
      & input[type="checkbox"]{
        z-index: 11;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        position: absolute;
        transform: scale(1.5);
      }
  
      & img {
        float: left;
        height: 20px;
        margin-top: 0.5px;
        filter: brightness(90%);
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        position: absolute;
      }
    
      & label {
        color: #d1d3d4;
        position: absolute;
        font-size: 15px;
        cursor: pointer;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 25px;
        margin-top: 2.5px;
        max-width: 65%;
      }
  
      
      & p {
        float: right;
        margin-top: 2.5px;
        text-align: center;
      }    

      & input {
        float: right;
        margin-top: -9%;
        max-width: 75%;
        height: 0;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: right;
        color: #d1d3d4;
        font-size: 15px;
        margin-left: 5%;
        margin-bottom: 10%;
        border:none;
        background: none;
        outline:none;
        cursor: pointer;
        margin-top: 1px;
        font-family: "Share Tech", sans-serif;
      }
    }
  }

}

.search-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
  background-color: #333333;
  transition: max-height 0.25s ease-out;
  overflow-y: visible;
  display: block;
        
  & input {
    position: absolute;
    margin-top: -9%;
    max-width: 75%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
    color: #d1d3d4;
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 10%;
    border:none;
    background: none;
    outline:none;
    font-family: "Share Tech", sans-serif;
  }
  
  .search-button {
    float: right;
    width: 20%;
    margin-top: -10%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border:none;
    background: none;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: visible;

    &:active {
      filter: brightness(75%);
    }
  
    & img {
      width: 70%;
      max-width: 20px;
      min-width: 10px;
      filter: brightness(90%);
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}  

.search-result {
  position: relative;
  margin: 10px auto;
  width: 90%;
  scroll-snap-align: none;
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: 20px auto;

  &:hover {
    filter: brightness(125%);
    cursor: pointer;
  }

  &:active {
    filter: brightness(100%);
  }

  & img {
    float: left;
    height: 20px;
    margin-top: 0.5px;
    filter: brightness(90%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  & label {
    color: #d1d3d4;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
  }

  & p {
    grid-column: 1 / 3;
    color: #b6b6b6;
    font-size: 1em;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    letter-spacing: 0.1px;
    margin-top: -5px;
  }
} 
